<ion-view title="<img class='title-image' src='./img/Logo-Home-Staging-Calculator.png' />">
    <ion-content>
        <!-- Main Content Wrapper -->
        <div class="row space-top-20">
            <div class="col">
                <div>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Avg # of months on Market for homes that are ASP Staged before Sale</span>
                            <input type="number" placeholder="e.g. 0.4"
                                id="frmMonthsBeforeASPStaged"
                                ng-model="userValues.monthsBeforeASPStaged"
                                required
                            />
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Avg # of months on Market for homes that are Not Staged before Sale</span>
                            <input type="Number" placeholder="e.g. 3.0"
                                id="frmMonthsBeforeNotASPStaged"
                                ng-model="userValues.monthsBeforeNotASPStaged"
                                required
                            />
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Mortgage Amount per Month (Dollar Amount)</span>
                            <input type="number" placeholder="e.g. 3000"
                                id="frmMortgageAmount"
                                ng-model="userValues.mortgageAmount"
                                required
                            />
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Monthly Utilities, HO fees, taxes, insurance &amp; upkeep (Dollar Amount)</span>
                            <input type="number" placeholder="e.g. 500"
                                id="frmUtilityAndFees"
                                ng-model="userValues.utilityAndFees"
                                required
                            />
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Staging Investment (Dollar Amount)</span>
                            <input type="number" placeholder="e.g. 3000"
                                id="frmStagingInvestment"
                                ng-model="userValues.stagingInvestment"
                                required
                            />
                        </label>
                    </div>
                </div>

                <div class="space-top-20 text-center">
                    <a href="#/app/home"><button class="button button-positive"><i class="chevron-circle-left" aria-hidden="true"></i> <strong>Back to Home</strong></button></a>
                    <a href="#/app/results"><button class="button button-balanced"><strong>Calculate ROSI</strong> <i class="chevron-circle-right" aria-hidden="true"></i></button></a>
                </div>
            </div><!-- /col -->
        </div><!-- /row -->
    </ion-content>
</ion-view>
